{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Available Coupons</h2>
    {% if messages %}
            <div class="mb-3">
                {% for message in messages %}
                    {% if "success_add" in message.tags %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if "success_edit" in message.tags %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Discount Type</th>
                <th>Discount Amount</th>
                <th>Max Discount</th>
                <th>Expiry Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.get_discount_type_display }}</td>
                <td>{{ coupon.discount_amount }}</td>
                <td>{{ coupon.max_discount }}</td>
                <td>{{ coupon.expiry_date }}</td>
                <td>
                    <a href="{% url 'edit_coupon' coupon.id %}" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No coupons available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
