{% extends 'base.html' %}
{% block extra_style %}
<style>
    .invoice-container {
        font-family: Arial, sans-serif;
        width: 4in; /* Set width to 4 inches */
        margin: 0 auto;
        padding: 5px;
        font-size: 9px;
        background-color: #fff;
      }
      
      .shop-details {
        text-align: center;
      }
      
      .shop-name {
        font-size: 12px;
        margin-bottom: 0px;
        font-weight: bold;
      }
      
      .due-paid h3 {
        font-size: 15px;
        margin-bottom: 0px;
        font-weight: bold;
      }
      
      .shop-details p {
        margin-top: 1px;
        margin-bottom: 0px;
      }
      
      h4 {
        font-size: 10px;
        margin: 0px;
        font-weight: bold;
      }
      
      table {
        width: 100%;
        text-align: center;
        font-size: 8px;
        border-collapse: collapse;
      }
      
      table th, table td {
        padding: 5px !important;
        border: 1px solid #ddd;
      }
      
      table th {
        background-color: #f2f2f2;
      }
      
      table td:nth-child(1) {
        width: 8%;
      }
      
      table td:nth-child(2) {
        width: 50%;
      }
      
      table td:nth-child(3), table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
        width: 8%;
      }
      
      hr {
        border-top: 1px dashed #000;
        margin-top: 1px;
        margin-bottom: 1px;
      }
      
      .total {
        font-size: 10px;
        text-align: right;
        margin-top: 2px;
      }
      
      .payment-status {
        font-size: 9px;
        text-align: center;
        margin-top: 1px;
      }
      
      .thank-you {
        font-size: 10px;
        text-align: center;
        margin-top: 2px;
      }
      
      .payment-status p {
        margin: 0px;
      }
      
      p {
        margin: 0px;
      }
      
      /* Apply custom class to eliminate margins */
      .no-margin {
        margin: 0px !important;
      }


    @media print {
        /* Hide all content on the page except the invoice */
        body * {
            visibility: hidden;
            max-width: 4in;
        }

        .sidebar {
            display: none;
        }
        .container{
          min-width: auto !important;
          max-width: 4in !important;
          padding-left: 4px !important;
          padding-right: 4px !important;
          margin: 0;
        }
        
        /* Show only the content within the invoice-container */
        .invoice-container, .invoice-container * {
            visibility: visible;
            margin: 0;
        }
        
        .btn-primary{
            visibility: hidden;
        }
        
        /* Optional: Styling adjustments for print layout */
        @page {
            size: auto;  /* 4 inches width, height will be auto-adjusted based on content */
            margin: 0;        /* Remove extra white space around the content */
        }


        
    }
          


      
      
</style>
{% endblock  %}

{% block content %}
  <div class="container">
    <div class="invoice-container">
      <!-- Shop Details -->
      <div class="shop-details text-center">
        <h3 class="shop-name">NR BAAZAR</h3>
        <p>SH11, Gokarna, Murshidabad</p>
        <p>Phone No: +91-9134437801</p>
      </div>

      <!-- Invoice Number and Date -->
      <div class="invoice-info no-margin" style="display: flex; justify-content: space-between;">
        <div>
          Customer Details
          <p>{{ cart_data.customer.name}}</p>
          <p id="phoneNumber">{{ cart_data.customer.phone}}</p>
        </div>
        <div>
          <p>Invoice No: {{ invoice_no }}</p>
          <p>Date: {{ invoice_date }}</p>
        </div>
      </div>
      <hr>
      <h4 class="text-center">Receipt</h4>
      <hr>

      <!-- Table for Items -->
      <table class="table no-margin">
        <thead>
          <tr>
            <th>SL</th>
            <th>Item</th>
            <th>Rate/Unit</th>
            <th>Qty</th>
            <th>Discount</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_data.items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.productName}}</td>
            <td>{{ item.rate}}</td>
            <td>{{ item.qty}}</td>
            <td>{{ item.discount}}</td>
            <td>{{ item.amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-right"><strong>Total</strong></td>
            <td><strong>{{ actual_price }}</strong></td>
            <td><strong>{{ total_item }}</strong></td>
            <td><strong>{{ item_discount }}</strong></td>
            <td><strong>{{ total_amount }}</strong></td>
          </tr>
        </tfoot>
      </table>

      <!-- Total Section -->
      <div class="total">
        {% if coupon_discount > 0 %}
        <div style="display: flex; justify-content: space-between;">
          <p>Coupon Discount</p>
          <p>{{ coupon_discount }}</p>
        </div>
        {% endif %}
        {% if roundoff > 0 %}
        <div style="display: flex; justify-content: space-between;">
          <p>Round Off</p>
          <p>{{ roundoff }}</p>
        </div>
        {% endif %}
        {% if coupon_discount or roundOff %}
        <hr>
        {% endif %}
        <div style="display: flex; justify-content: space-between;">
          <p><strong>Grand Total</strong></p>
          <p><strong>₹{{ grand_total }}</strong></p>
        </div>

        <hr>
        
        {% if paid_amount %}
        <div style="display: flex; justify-content: space-between;">
          <p><strong>Paid</strong></p>
          <p><strong class="text-capitalize">{{ cart_data.paymentType }}</strong></p>
          <p><strong>₹{{ paid_amount }}</strong></p>
        </div>
        {% endif %}
        {% if due_amount %}
        <div style="display: flex; justify-content: space-between;">
          <p><strong>Due</strong></p>
          <p><strong>₹{{ due_amount }}</strong></p>
        </div>
        {% else %}
        <div style="display: flex; justify-content: space-between; font-size: 14px">
          <p><strong>Paid</strong></p>
          <p><strong class="text-capitalize">{{ cart_data.paymentType }}</strong></p>
        </div>
        {% endif %}

    </div>

      <hr>

      <!-- Thank You Section -->
      <p class="thank-you text-center">
        <span>আপনার কেনাকাটার জন্য! আমরা সবসময় আপনার সেবা প্রদান করতে প্রস্তুত। পরবর্তী কেনাকাটায় আবার দেখা হবে আশা করছি।</span><br>
        <span><b>কাপড় রিটার্ন বা এক্সচেঞ্জের জন্য ৭ দিনের মধ্যে ফিরে আসতে হবে এবং কাপড়টি ভালো অবস্থায় থাকতে হবে। বিল সাথেই নিয়ে আসবেন।<b></span><br>
        <strong class="fa-2x">ধন্যবাদ</strong><br>
      </p>
      
      <!-- Print Button -->
      <div class="text-center mt-4">
        <button class="btn btn-primary"  onclick="window.print()">Print Invoice</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_script %}
<script>
window.onafterprint = function() {
  
  $.ajax({
    url: {% url "after_bill_print" %},
    type: "GET",
    success: function(response){
        if(response.success){
          localStorage.setItem($("#phoneNumber").text(), JSON.stringify(''));
          window.location.href = `/sell/`
        }else{
            alert("Something went wrong!")
        }
    },
    error: function(error){
        console.log(error)
    }
  })
};
</script>
{% endblock %}
